#root {
  margin: 0 auto;
  text-align: center;
  max-width: 100vw;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
  place-items: center;
}

.grid-item{
  background: lightblue;
  padding: 2rem;
  text-align: center;
  border: 1px solid #ddd;
  color: black;
}